################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Atmosphere3/FileContentIndex/0418b2d1-cf39-4f8f-9689-08b243db4d17.vsidx
/.vs/Atmosphere3/FileContentIndex/1cd40854-204e-435a-9b76-480d9281271f.vsidx
/.vs/Atmosphere3/FileContentIndex/7da1e8aa-699c-4c80-95cb-016d1a2bdaa6.vsidx
/.vs/Atmosphere3/FileContentIndex/ca23f43c-e111-49e5-bec4-1771dd0c1fff.vsidx
/.vs/Atmosphere3/FileContentIndex/e1c76972-f903-4c8b-a567-231ea751d6d9.vsidx
/.vs/Atmosphere3/v17
/.vs/Atmosphere3/v17/.wsuo
/.vs/Atmosphere3/v17/Browse.VC.db
/.vs/Atmosphere3/v17/Browse.VC.db-shm
/.vs/Atmosphere3/v17/Browse.VC.db-wal
/.vs/Atmosphere3/v17/Browse.VC.opendb
/.vs/Atmosphere3/v17/ipch/AutoPCH
/.vs/Atmosphere3/v17/ipch/AutoPCH/51b465ac100ed5ec
/.vs/Atmosphere3/v17/ipch/AutoPCH/51b465ac100ed5ec/ITEM.ipch
/.vs/Atmosphere3/v17/ipch/AutoPCH/ae3a7164cc7469fa
/.vs/Atmosphere3/v17/ipch/AutoPCH/ae3a7164cc7469fa/PLAYER.ipch
/.vs/Atmosphere3/v17/ipch/AutoPCH/d99a837840cbb7d9
/.vs/Atmosphere3/v17/ipch/AutoPCH/d99a837840cbb7d9/ROOM.ipch
/.vs/Atmosphere3/v17/ipch/AutoPCH/e7a97d24ee23d154
/.vs/Atmosphere3/v17/ipch/AutoPCH/e7a97d24ee23d154/COMMUNICATIONBREAKDOWN.ipch
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/CommunicationBreakdown/Debug/AI_Manager.obj
/CommunicationBreakdown/Debug/Alien.obj
/CommunicationBreakdown/Debug/Communic.5f7a1fb6.tlog/CL.command.1.tlog
/CommunicationBreakdown/Debug/Communic.5f7a1fb6.tlog/Cl.items.tlog
/CommunicationBreakdown/Debug/Communic.5f7a1fb6.tlog/CL.read.1.tlog
/CommunicationBreakdown/Debug/Communic.5f7a1fb6.tlog/CL.write.1.tlog
/CommunicationBreakdown/Debug/Communic.5f7a1fb6.tlog/CommunicationBreakdown.lastbuildstate
/CommunicationBreakdown/Debug/Communic.5f7a1fb6.tlog/link.command.1.tlog
/CommunicationBreakdown/Debug/Communic.5f7a1fb6.tlog/link.read.1.tlog
/CommunicationBreakdown/Debug/Communic.5f7a1fb6.tlog/link.write.1.tlog
/CommunicationBreakdown/Debug/CommunicationBreakdown.exe.recipe
/CommunicationBreakdown/Debug/CommunicationBreakdown.ilk
/CommunicationBreakdown/Debug/CommunicationBreakdown.obj
/CommunicationBreakdown/Debug/Item.obj
/CommunicationBreakdown/Debug/Player.obj
/CommunicationBreakdown/Debug/Room.obj
/CommunicationBreakdown/Debug/vc143.idb
/CommunicationBreakdown/Debug/vc143.pdb
/.vs/Atmosphere3/FileContentIndex/78c75073-4521-4276-91d7-f58ccdf6559e.vsidx
/.vs/Atmosphere3/FileContentIndex/9f826d51-0fa2-4331-bf7f-83285d2a81ed.vsidx
/Debug/CommunicationBreakdown.exe
/Debug/CommunicationBreakdown.pdb
/.vs/Atmosphere3/FileContentIndex
